<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Collections Test Suite">
            <directory suffix="Test.php">./tests/Misd/Collections/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/Misd/Collections/</directory>
        </whitelist>
    </filter>
</phpunit>